
body{
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;

}

header{
    position: fixed;
    width: 100%;
    height: 70px;
    top:0;
    left: 0;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border: 3px solid #3A86FF;
    border-radius: 100px;


}
/*header button{
    display: none;
    position: relative;
    top: 10px;
    right: 10px;
}*/
header>nav>img{
    position:relative ;
    top:0;
    left:20px;
}
nav{
    display: flex;
    padding: 0.5px 0.5px;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    gap:20px;
    position: fixed;
    right: 70px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}
nav ul li a:hover {
    color: #807d7d;
    text-align: right;
}
#home {
    height: 100vh;
    background: url("/assests/images/desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
    position: relative;
    z-index: 1;
}
#home::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0D1B2A;
    opacity: 0.7;
    z-index: -1;
}
#home>h1{
    font-family: "Kristen ITC", sans-serif;
    color: aliceblue;
    font-size: 90px;
    text-align: center;
    text-shadow: 10px 10px 20px #6d93e0;
    position: relative;
    top: 20px;

}
#home>a{
    position: relative;
    left: 0;
    top: 50px;
    margin: 10px;
}
#home>h2{
    font-family: "Jacques Francois Shadow", sans-serif;
    color: #b7b4b4;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 1px;
}
#home>h3{
    font-family: "Jacques Francois Shadow", sans-serif;

    color: #b7b4b4;
    font-weight: bold;
    position: relative;
    top: 1px;
}
#home{
    text-align: center;
}
#about{
    background: linear-gradient( #005E9D, #002137);
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 10px 0;

}

#about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
#imgDiv{
    background-color: #3A86FF;
    border: 3px solid #00ff77;
    margin:10px;
    height: 380px;
    width: 310px;
    position: relative;
    left: 30px;
    top: 30px;
    border-radius: 10%;
    box-shadow: 3px 3px 30px #e0c5c5;
}
#about h1{
    text-align: center;
    color: #00F5D4;
    -webkit-text-stroke-color: #41526D;
}
#about .about-content{
    width: 400px;
    height: 500px;

    margin:10px
}
#about #pDiv{
    background-color: #3A86FF;
    border: 3px solid #00ff77;
    margin:10px;
    height: 380px;
    width: 310px;
    position: relative;
    left: 30px;
    top: 30px;
    border-radius: 10%;
    box-shadow: 3px 3px 30px #e0c5c5;
}
#about img{
    position: relative;
    width: 275px;
    height: 350px;
    background: #67a7e2;
    left:16px;
    top:13px;
    border-radius: 10%;
}
#about p {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
#education{
    background: radial-gradient( #005E9D, #002137);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    position: relative;
}
#education>h3{
    text-align: center;
    color: #32D5E3;
}
.Education-Container{
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}
.Education-Container:before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 8px;
    height: 110%;
    background-color: #a64fc5;
    z-index: 1;
}
.timeLine{
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
    gap:10px;
}
.EduImg{
    width: 50px;

}
.LeftImg{
    position: absolute;
    right: 30px;
    top:20px;
}
.RightImg{
    position: absolute;
    left: 30px;
    top:20px;
}
.timeLine-Left{
    float: left;
    direction: rtl;

}
.timeLine-Right{
    float: right;

}
.Dot{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid darkslateblue;
    background: #ffeb14;
    margin-top: 30px;
    z-index: 9999;

}
.Education-content{

    width: 100%;
    padding: 0 15px;


    /*border-radius: 15px;
    border: 2px solid #00ff77;
    box-shadow: 3px 3px 30px #e0c5c5;*/
}
.content-p{
    width: 100%;
    background: #3A86FF;
    border-radius: 15px;
    border: 2px solid #00ff77;
    box-shadow: 3px 3px 30px #e0c5c5;
    position: relative;
}
.content-p h3,h4{
    text-align: center;
}


#skills{
    background: radial-gradient( #005E9D, #002137);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    padding: 10px 0;
    top: 0;
    left: 0;
    position: relative;
    margin-bottom: -20px;
}
#skills>h1{
    text-align: center;
    color: #00F5D4;
}
#skills>#skills-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
    position: relative;
}
#skills-container>.skills-content{
    width: calc(25% - 30px);
    height: 200px;


    position: relative;
}
.DivImg{
    width: 125px;
    aspect-ratio: 1/1;
    
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    border: 3px solid #00ff77;
    box-shadow: 3px 3px 30px #e0c5c5;
    transition: transform 2000ms ease-out;
}
.DivImg:hover{
    transform: scale(1.2);
}
.SkillImg{
    width: 60px;
    aspect-ratio: 1/1;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
#assinments{
    background: radial-gradient( #005E9D, #002137);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    padding: 10px 0;
    position: relative;

}
#works-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
    position: relative;

}

#works-container div {
    width: calc(25% - 15px);
    height: 300px;

}
#works-container .r{
    background-color: red;
    width: 250px;
    height: 250px;
    margin: auto;
    position: relative;
    border-radius: 10%;
    overflow: hidden;
}
.AssignmentImg{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10%;
    z-index: 0;
}
.r::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom right, rgba(68, 245, 8, 0.5), rgba(4, 232, 253, 0.8));
    opacity: 0.5;
    border-radius: 10%;
}
#assinments h1{
    text-align: center;
    color: #00F5D4;
}
#assinments h2{
    text-align: center;
    color: #32D5E3;
}
#projects>h2{
    text-align: center;
    color: #32D5E3;
}
#projects{
    background: linear-gradient( #005E9D, #002137);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    padding: 10px 0;
    position: relative;
    margin-bottom: -20px;
}

#project-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
#projects .project-content{
    width: 500px;
    height: 500px;

    margin:10px
}
#projects #leftDiv{
    background-color: #3A86FF;

    margin:10px;
    height: 350px;
    width: 350px;
    position: relative;
    left: 60px;
    top: 0;
    border-radius: 10%;
    box-shadow: 3px 3px 30px #e0c5c5;
}
#projects #rightDiv{
    background-color: #3A86FF;

    margin:10px;
    height: 350px;
    width: 350px;
    position: relative;
    left: 50px;
    top: 0px;
    border-radius: 10%;
    box-shadow: 3px 3px 30px #e0c5c5;
}
#leftDiv img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
}
#rightDiv img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

#gallery>h2{
    text-align: center;
    color: #00F5D4;
    grid-column: span 3;
}

#gallery{
    background: linear-gradient( #005E9D, #002137);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    padding: 10px 0;
    position: relative;

}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}
.gallery-container>.gallery-content{
    width: 350px;
    height: 350px;
    background-color: #dd6464;
}
.gallery-item {
    width: 300px;
    height: 300px;
    background-color: red;
    position: relative;
    left: 6px;
    top: 20px;
}
.gallery-item img{
    width: 100%;
    height: 100%;
    transition: transform 2000ms ease-out;
}
.gallery-item img:hover{
    transform: scale(1.15);
}
#contact{
    background: linear-gradient( #005E9D, #002137);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    padding: 10px 0;
    position: relative;
}
#contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;

}
#contact .contact-content{
    width: 420px;
    height: 500px;
    background-color: rgba(161, 69, 69, 0.5);
    margin:10px
}
#contact .contact-content .contact-info{
    background-color: #3A86FF;
    align-items: center;
    margin:10px;
    height: 450px;
    width: 400px;
}
#contact .contact-content #LeftContact{
    position: relative;
    right: 10px;
}
#contact h3{
    text-align: center;
}
#contact p{

    align-items: center;
}
#contact #links{
    position: relative;
    top: 30px;
    left: 20px;
}
#contact #links a{
    margin: 10px;
}
#contact img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 1px;
}
#contact h3 {
    color: #32D5E3;
}

button{
    background: #427ea4;
}
.contact-item{
    display: inline-flex;
    align-items: center;
    gap:20px;
}
#gh>#name{
    background: #3A86FF;
}
#em>#email{
    background: #3A86FF;
}
#sub>#subject{
    background: #3A86FF;
}
#text>#message{
    background: #3A86FF;
}
/*@media all and (max-width: 550px) {
    header button {
        display: block;
    }

    header > nav>ul {
        display: none;
    }
}*/

@media all and (max-width: 550px){
    #home h1{
        font-size: 70px;
    }
}
@media all and (max-width: 450px){
    #home h1{
        font-size: 60px;
    }
}
@media all and (max-width: 780px) {
    #about-container{
        display: flex;
        flex-direction: column;

    }
}
@media all and (max-width: 880px) {
    #project-container{
        display: flex;
        flex-direction: column;

    }
}
@media all and (max-width: 1000px){
    #works-container{
        flex-direction: column;
        display: flex;
        justify-content: center;
        gap:10px;
        align-items: center;
        position: relative;
        height: auto;
    }
    #works-container div{
        width: calc(50% - 10px);
        height: auto;
        align-items: center;
    }
}
@media all and (max-width: 450px){
    #works-container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        gap:10px;
        align-items: center;
        position: relative;
        height: auto;
    }
    #works-container div{
        width: calc(50% - 10px);
        height: auto;
        align-items: center;
        position: relative;
        right:20px;
    }
}
@media all and (max-width: 1000px) {
    #contact-container {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    #contact-container div {
        width: calc(50% - 10px);
        height: auto;
        margin: 10px;
    }
    .contact-content {
        width: 90%;
    }
    #contact #links {
        display: flex;
        justify-content: center;
        gap: 10px;
        position: relative;
        left: 70px;
    }
    #headP{
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 80%;

    }


}
@media all and (max-width: 1080px) {
    .gallery-container {
        justify-content: center;
    }
    .gallery-content{
        width: calc(50% - 20px);
    }
}
@media all and (max-width: 830px) {
    .gallery-container {
        justify-content: center;
        flex-direction: column;
    }
    .gallery-content {
        width: 100%;
    }
}
@media all and (max-width: 768px){
    .Education-Container:before{
        left: 8px;
        width: 2px;
    }
    .timeLine{
        width: 100%;
        margin-bottom: 30px;
    }
    .timeLine-Right{
        float:none;
    }
    .timeLine-Left{
        float:none;
        direction: ltr;
    }
    .content-p{
        margin: 10px;
        width: 200px;
    }
    .content-p h3,h4{
        font-size: 10px;
    }
    .EduImg{
        width: 25px;
    }
    .LeftImg{
        position: absolute;
        left: 10px;
        top: 13px;
    }
    .RightImg{
        position: absolute;
        right: 10px;
        top: 13px;
    }
    .Dot{
        margin-top: 30px;
        z-index: 9999;
        position: absolute;
        left: 2%;
        transform: translateX(-50%);
        z-index: 2;
    }
}
@media all and (max-width: 700px) {
    #skills-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    #skills-container .skills-content {
        width: 100%;
        text-align: center;
    }
}